body {
  line-height: 1.5rem;
}

.logo {
  width: 100%;
  display: inline-flex;
  gap: 1rem;
  cursor: pointer;
}

.logo__name {
  display: inline-block;
}

.search {
  position: relative;
}

.search__glass {
  position: absolute;
  top: 0.6rem;
  left: 1rem;
}

#search:hover,
#search:active {
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.229);
}

#search:focus {
  outline: none;
  border: none;
}

.icon {
  align-items: center;
}

ul li {
  list-style-type: decimal;
}

.speech {
  background-color: rgb(206, 206, 206);
  color: white;
  cursor: pointer;
}

.speech:hover,
.speech:active {
  background-color: rgba(0, 0, 0, 0.894);
  color: white;
}

#output {
  overflow: scroll;
}

.active {
  background-color: rgba(0, 0, 0, 0.894);
}

@media only screen and (max-width: 75rem) {
  body {
    margin: 4rem 10rem !important;
  }

  .form {
    width: 100%;
  }
}

@media only screen and (max-width: 52rem) {
  body {
    margin: 4rem 8rem !important;
  }

  #output {
    height: 50vh;
  }
}

@media only screen and (max-width: 38rem) {
  html {
    font-size: 43.75%;
  }

  body {
    margin: 6rem !important;
  }
}

@media only screen and (max-width: 30rem) {
  body {
    margin: 4rem !important;
  }

  #search {
    width: 80%;
  }

  #output {
    overflow: scroll;
    width: 100%;
  }
}
